.link {
  color: #4C4CFF;
  text-decoration: none;
}

.link:visited {
  color: #4C4CFF;
}

.main {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  max-width: 2000px;
  position: relative;
}