.navItem {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-content: center;
  position: relative;
  cursor: pointer;
}

.navItem:nth-of-type(2) {
  left: 50px;
}

.navItem:nth-of-type(3) {
  left: 882px;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}