.ingredientsBlock {
  margin: 0;
  padding: 0;
  margin-top: 40px;
  gap: 32px 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.title {
  margin: 0;
  padding: 0;
  font-family: 'JetBrains Mono', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  width: 100%;
  text-align: left;
}