.appLogo {
  height: 40vmin;
  pointer-events: none;
  margin-right: 288.85px;
  margin-left: 112px;
}

@media (prefers-reduced-motion: no-preference) {
  .appLogo {
    animation: AppLogoSpin infinite 20s linear;
  }
}

.appHeader {
  max-width: 1920px;
  width: 100%;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

@keyframes AppLogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}